@model Jus_365.Models.FormularioLogin

@{
    ViewData["Title"] = "Edit";



}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definição de Formulário para Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .container {
            margin-top: 20px;
            /* transform: scale(0.65); */
        }

        #available-items, #selected-items {
            min-height: 500px;
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
        }

        .accordion {
            margin-bottom: 10px;
        }

        .accordion-header {
            background-color: #007bff;
            color: white;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .accordion-content {
            padding: 10px;
            background-color: #fff;
            display: none;
            border-radius: 5px;
            border: 1px solid #007bff;
            min-height:50px;
            margin-top: -1px;
        }

        .accordion-header i {
            margin-left: 10px;
        }

        #selected-items .accordion {
            border: 1px solid #28a745;
            border-radius: 5px;
            min-height: 50px;
        }

       .save-button {
            margin-top: 20px;
            float: right;
        }

        .key-input {
            background-color: #e9ecef;
            cursor: not-allowed;
        }

        .card {
            margin-bottom: 20px;
        }
    </style>
</head>


    <div class="container">
        <!-- Card para a Definição de Formulário -->
        <div class="card">
            <div class="card-header">
                Definição de Formulário para Registro
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="formDescription">Descrição do Formulário</label>
                    <input type="text" class="form-control" id="formDescription" placeholder="Digite a descrição do formulário" value="@Model.nome">
                </div>
                <div class="form-group">
                    <label for="formKey">Chave do Formulário</label>
                    <input type="text" class="form-control key-input" id="formKey" value="@Model.key" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Itens Disponíveis
                    </div>
                    <div class="card-body" id="available-items">
                        <div class="accordion" data-id="UserDadosPessoais">
                            <div class="accordion-header">
                                <span>Dados Pessoais</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">Nome, Sexo, Data de Nascimento</div>
                        </div>
                        <div class="accordion" data-id="UserContatoPessoal">
                            <div class="accordion-header">
                                <span>Contato Pessoal</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">Email, Telefone Celular,Telefone Residencial, Outro Telefone</div>
                        </div>
                        <div class="accordion" data-id="EnderecoPessoal">
                            <div class="accordion-header">
                                <span>Endereço Pessoal</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">Cep, Estado, Cidade,Logradouro, Numero, Complemento</div>
                        </div>
                        <div class="accordion" data-id="DocumentosPessoais">
                            <div class="accordion-header">
                                <span>Documentos Pessoais</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">CPF, RG, Data Expedicao RG, Orgao Expedicao RG, CNH, Data Validade CNH, Estado Expedidor CNH</div>
                        </div>


                        <div class="accordion" data-id="Arquivos">
                            <div class="accordion-header">
                                <span>Arquivos</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">Arquivo1, Arquivo2, Arquivo3, Arquivo4, Arquivo5</div>
                        </div>

                        <div class="accordion" data-id="Empresa">
                            <div class="accordion-header">
                                <span>Empresa</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">CPF/CNPJ, Razão Social, Inscrição Estadual, Telefone Empresa, Email Empresa, Inscrição Municipal, Certificado</div>
                        </div>
                        <div class="accordion" data-id="EnderecoEmpresarial">
                            <div class="accordion-header">
                                <span>Endereço Empresarial</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">CEP Empresa, Estado Empresa, Cidade Empresa, Logradouro Empresa, Numero Empresa, Complemento Empresa </div>
                        </div>
                        <div class="accordion" data-id="Login">
                            <div class="accordion-header">
                                <span>Login</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">Email, Senha </div>
                        </div>


                        <div class="accordion" data-id="Plano">
                            <div class="accordion-header">
                                <span>Plano</span>
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                            <div class="accordion-content">Planos disponiveis aos usuários</div>
                        </div>

                        <!-- Adicione mais acordeões conforme necessário, até 9 -->
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Itens Selecionados
                    </div>
                    <div class="card-body" id="selected-items">
               

                </div>
                    <button class="btn btn-primary save-button">Salvar</button>
                </div>
            </div>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        console.log("JS1");

        // Função para adicionar itens selecionados ao contêiner
        function preencherItensSelecionados(itens) {
            const container = $("#selected-items");
            container.empty(); // Limpa o contêiner antes de adicionar novos itens

            itens.forEach(function (item) {


                const itemHtml = `
                        <div class="accordion" data-id="${item.id}">
                            <div class="accordion-header">
                                <span>${item.titulo}</span>
                                    <i class="fas fa-times"></i>
                            </div>
                            <div class="accordion-content">${item.descricao}</div>
                        </div>
                    `;

                // Adiciona o item ao contêiner
                console.log("container " + container);

                console.log("html " + itemHtml);
                container.append(itemHtml);
               
                    //$("#accordion").accordion();

                // Accordion Toggle
                $(".accordion-header").click(function () {
                    $(this).next(".accordion-content").slideToggle();
                    $(this).toggleClass("active");
                    $(this).find("i").toggleClass("fa-chevron-down fa-chevron-up");
                });
                // Reaplica o comportamento draggable ao novo item
                container.find('.accordion').draggable({
                    connectToSortable: "#selected-items",
                    helper: "clone",
                    revert: "invalid"
                });

                            // Reaplica o comportamento sortable ao contêiner
            container.sortable({
                placeholder: "ui-state-highlight",
                receive: function (event, ui) {
                    const itemId = ui.helper.data('id');
                    if ($("#selected-items .accordion[data-id='" + itemId + "']").length > 1) {
                        ui.helper.remove();
                    } else {
                        ui.helper.find(".accordion-content").show();
                        ui.helper.css({
                            width: "100%"
                        });
                        $(ui.sender).children(`[data-id='${itemId}']`).remove();
                        ui.helper.removeClass("ui-draggable");
                        ui.helper.find("i").removeClass("fa-arrows-alt").addClass("fa-times");

                        // Adiciona evento de clique para remover o item
                        ui.helper.find("i.fa-times").click(function () {
                            let item = $(this).closest('.accordion').detach();
                            item.find(".accordion-content").hide();
                            item.find("i").removeClass("fa-times").addClass("fa-arrows-alt");

                            item.draggable({
                                connectToSortable: "#selected-items",
                                helper: "clone",
                                revert: "invalid"
                            });
                        });
                    }
                }
            }).disableSelection();
            });


        }

        // Accordion Toggle
        $(".accordion-header").click(function () {
            $(this).next(".accordion-content").slideToggle();
            $(this).toggleClass("active");
            $(this).find("i").toggleClass("fa-chevron-down fa-chevron-up");
        });

        // Draggable Configuration
        $(".accordion").draggable({
            connectToSortable: "#selected-items",
            helper: "clone",
            revert: "invalid"
        });

        // Sortable Configuration
        $("#selected-items").sortable({
            placeholder: "ui-state-highlight",
            receive: function (event, ui) {
                const itemId = ui.helper.data('id');
                if ($("#selected-items .accordion[data-id='" + itemId + "']").length > 1) {
                    ui.helper.remove();
                } else {
                    ui.helper.find(".accordion-content").show();
                    ui.helper.css({
                        width: "100%"
                    });
                    $(ui.sender).children(`[data-id='${itemId}']`).remove();
                    ui.helper.removeClass("ui-draggable");
                    ui.helper.find("i").removeClass("fa-arrows-alt").addClass("fa-times");

                    // Add click event to remove item
                    ui.helper.find("i.fa-times").click(function () {
                        let item = $(this).closest('.accordion').detach();
                        item.find(".accordion-content").hide();
                        item.find("i").removeClass("fa-times").addClass("fa-arrows-alt");

                        item.draggable({
                            connectToSortable: "#selected-items",
                            helper: "clone",
                            revert: "invalid"
                        });
                    });
                }
            }
        }).disableSelection();

        // Droppable Configuration
        $("#available-items").droppable({
            accept: ".accordion",
            drop: function (event, ui) {
                const itemId = ui.helper.data('id');
                if ($("#available-items .accordion[data-id='" + itemId + "']").length > 0) {
                    ui.helper.remove();
                } else {
                    let item = ui.helper.clone().removeAttr('style');
                    item.draggable({
                        connectToSortable: "#selected-items",
                        helper: "clone",
                        revert: "invalid"
                    });
                    item.find(".accordion-content").hide();
                    item.find("i").removeClass("fa-times").addClass("fa-arrows-alt");
                    $(this).append(item);
                    ui.helper.remove();
                }
            }
        });

        // Retrieve data from Model
        var slots = [
            "@Model.slot1",
            "@Model.slot2",
            "@Model.slot3",
            "@Model.slot4",
            "@Model.slot5",
            "@Model.slot6",
            "@Model.slot7",
            "@Model.slot8",
            "@Model.slot9"
        ];

        var itensSelecionados = [];

        // Iterate over the slots
        slots.forEach(function (slot) {
            var accordionItem = $('.accordion[data-id="' + slot + '"]');

            if (accordionItem.length > 0) {
                var titulo = accordionItem.find('.accordion-header span').text();
                var descricao = accordionItem.find('.accordion-content').text();

                itensSelecionados.push({
                    id: slot+"_Selec",
                    titulo: titulo,
                    descricao: descricao
                });
            } else {
                console.log("Item com ID " + slot + " não encontrado.");
            }
        });

        // Display selected items in the console
        itensSelecionados.forEach(function (item) {
            console.log("ID: " + item.id+"_Selected");
            console.log("Título: " + item.titulo);
            console.log("Descrição: " + item.descricao);
            console.log("--------------------------");
        });

        // Preencher itens selecionados no contêiner
        preencherItensSelecionados(itensSelecionados);
        $('.accordion-button').on('click', function () {
            $(this).toggleClass('collapsed');
        });
    });
</script>